/*
* Preset
*/

@font-face {
  font-family: "pixel";
  src: url("../src/fonts/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: rocketship;
  src: url("../src/fonts/Supersonic\ Rocketship.ttf");
}

:root {
  --primary-green: #61ce8c;
  --primary-purple: #ad6bf9;
  --font: verdana, arial, sans-serif, helvetica;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

/*
* Main Content
*/

body {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(6, 26, 2);
}

.left {
  border-left: 3px double black;
}

.hidden {
  display: none;
}

header,
main,
footer {
  width: 1200px;
  margin-top: 10px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

header {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://textures.neocities.org/thumbnails/stone-and-brick/thumb_BRICK02.jpg");
    */
}

header img {
  width: 1200px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#message-container {
  width: 1100px;
  color: white;
  margin: 10px 0px 15px 0px;
}

#message {
  font-family: "pixel";
  letter-spacing: 2pt;
  width: 500px;
  float: right;
  text-align: center;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}

nav {
  width: 1200px;
  border: 4px ridge white;
  padding: 10px 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

nav a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-family: pixel;
  margin: 2px 0;
  letter-spacing: 2px;
}

nav a > img {
  margin-bottom: 10px;
}

section {
  display: flex;
  width: 600px;
  margin-bottom: 10px;
}

#panel-left,
#panel-right {
  width: 280px;
}

#center {
  width: 600px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#panel-left img,
#panel-right img {
  max-width: 280px;
}

/*
* LEFT PANEL
*/

#status {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px ridge var(--primary-green);
  color: white;
  background-color: black;
  font-size: 9pt;
}

#status a {
  color: var(--primary-green);
}

#status img {
  border: 5px ridge white;
  margin: 20px;
}

#status div {
  margin-bottom: 10px;
}

#statuscafe {
  text-align: center;
}

/*
* Row 1
*/

#row-1 {
  align-items: center;
}

#greeting {
  height: 300px;
  padding: 10px;
  color: white;
  background: black;
  border: 5px ridge var(--primary-green);
}

#greeting h1 {
  font-family: "rocketship";
  color: var(--primary-green);
  text-shadow: 2px 2px #ad6bf9;
}
/*
* Row 2
*/

#row-2 {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 5px 0;
  background-color: black;
  border-top: 3px double var(--primary-green);
  border-bottom: 3px double var(--primary-green);
  border-left: 3px solid orange;
  border-right: 3px solid lightskyblue;
  box-shadow: inset 0px 1px 5px black, inset 4px 0px 0px orange,
    inset 0px 1px 5px black, inset -4px 0px 0px lightskyblue;
}

.marquee {
  display: flex;
  align-items: center;
  animation: loop 10s infinite linear;
}

.marquee img {
  display: flex;
  padding: 0 5px;
  height: 50px;
}

/*
* Row 3
*/

#row-3 {
  justify-content: center;
}

.win-panel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #8fe9b3;
  border-radius: 3px;
  border: 2px solid #48bc76;
}

.win-panel h3 {
  color: white;
  padding: 3px 10px;
  font-size: 9pt;
  background: #74e8a2;
  background: linear-gradient(
    0deg,
    #74e8a2 1%,
    #61ce8c 49%,
    #48bc76 51%,
    #8fe9b3 90%
  );
}

.content {
  display: flex;
  background-color: white;
  margin: 0 3px 3px 3px;
  height: 100%;
  border: 3px solid var(--primary-green);
}

#jukebox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#jukebox * {
  max-width: 250px;
}

#chattable {
  width: 600px;
}

#control-center {
  padding: 10px;
}

#selection {
  max-height: 150px;
  overflow-y: scroll;
  border: 2px solid var(--primary-green);
}

.song-item {
  background-color: #338955;
  padding: 10px;
  color: white;
}

.song-item:not(:last-child) {
  border-bottom: 2px solid var(--primary-green);
}

/*
* Row 4
*/
#row-4 {
  height: 300px;
}

#row-4 > div {
  width: 333px;
  margin: 5px;
}

.webring h1 {
  background-color: #61ce8c;
}

footer {
  color: white;
  text-align: center;
  border-top: 3px double black;
  border-bottom: 3px double black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #61ce8c;
  background: linear-gradient(
    0deg,
    rgba(97, 206, 140, 1) 0%,
    rgba(82, 179, 121, 1) 100%
  );
  padding: 10px 0;
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes loop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
