* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  border-left: 3px double black;
}

.bumpered {
  border-left: 3px double black;
  border-right: 3px double black;
}

header,
main,
footer {
  width: 1000px;
  max-width: 1000px;
}

header {
  border-bottom: 3px double black;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  height: 50px;
}

nav {
  width: 1000px;
  border-bottom: 3px double black;
  padding: 10px 0;
}

nav a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
}

#status {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#statuscafe {
  text-align: center;
}

section {
  display: flex;
  border-bottom: 3px double black;
}

#row-2 {
  display: flex;
  overflow-x: hidden;
  padding: 5px 0;
  background-color: black;
}

#row-2 img {
  padding: 0 5px;
}

#row-4 {
  height: 300px;
}

#row-4 div {
  width: 333px;
}

#jukebox {
  display: flex;
  justify-content: space-between;
}

#bliss {
  height: 150px;
  background-image: url("../src/img/bliss.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 333px 150px;
}

#footer {
  border-top: 3px double black;
  width: 1000px;
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}
