/*
* Global Selectors
*/
@font-face {
  font-family: "pixel";
  src: url("../src/fonts/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: rocketship;
  src: url("../src/fonts/Supersonic\ Rocketship.ttf");
}
:root {
  --primary-green: #61ce8c;
  --green-dark: #48bc76;
  --green-light: #8fe9b3;
  --primary-purple: #ad6bf9;
  --purple-light: #c08ef8;
  --purple-dark: #8b44db;
  --font: verdana, arial, sans-serif, helvetica;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

p,
a {
  font-size: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  justify-content: center;
  background-color: rgb(128, 121, 131);
  overflow-x: hidden;
}

header,
main,
#marquee,
footer {
  box-sizing: border-box;
}

/*
* HEADER
*/

header {
  display: flex;
  justify-content: space-between;
}

#left {
  width: 50%;
  box-sizing: border-box;
}

#section-logo {
  width: 40vw;
  height: 12vw;
  background-color: var(--primary-green);
  border-top-left-radius: 5vw;
}

#logo {
  position: relative;
  font-family: rocketship;
  text-align: center;
  color: #ad6bf9;
  text-shadow: 0.25vw 0.25vw black;
  top: 1vw;
  left: -10vw;
  rotate: -10deg;
  font-size: 3vw;
  cursor: pointer;
}

.animated-spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forward;
}

#separator {
  display: flex;
  width: 30vw;
  justify-content: flex-start;
}

#message-container {
  position: relative;
  left: -1vw;
  background-color: black;
  border-radius: 0.5vw;
  width: 100%;
  width: 42vw;
  height: 3vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  font-family: "pixel";
  font-size: 1vh;
  letter-spacing: 1vw;
  float: right;
  text-align: center;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}

#spacer-container {
  display: flex;
  width: 40vw;
  height: 3vw;
}

#entrance {
  background-color: rgb(49, 49, 49);
  border-left: 1vw solid var(--primary-purple);
  min-width: 10vw;
  height: 100%;
}

#entrance > .nav-link {
  height: 5vw;
  margin-top: 1vw;
}

#spacer {
  background-color: #61ce8c;
  width: 100%;
  border-bottom-right-radius: 30vw;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  height: 2vw;
  font-weight: bold;
}

.nav-link > a {
  color: white;
  text-decoration: none;
  margin: 0 1.5vw;
}

#right {
  background-color: #c08ef8;
  width: 30vw;
  height: 15vw;
  margin: 2vw 3vw 0 0;
}

/*
* MAIN
*/

main {
  display: flex;
}

/*
* NAV
*/
nav {
  background-color: rgb(49, 49, 49);
  border-left: 1vw solid var(--primary-purple);
  min-width: 10vw;
}

nav h3 {
  font-family: rocketship;
  color: var(--primary-green);
  letter-spacing: 0.3vw;
  font-size: 1.25vw;
  padding: 0.5vw 0;
  padding-left: 1vw;
}

nav ul {
  margin-bottom: 0.5vw;
}

/*
* CONTENT
*/

#content {
  width: 100%;
  display: grid;
  grid-auto-rows: 9.8vw;
  grid-template-columns: repeat(8, 9.8vw);
  gap: 0.25vw;
  height: 40vw;
  margin: 0.25vw;
}

.item {
  border: 0.1vw solid black;
}

/*
* STAMP MARQUEE
*/

#marquee {
  background-color: black;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  height: fit-content;
}

.stamp-container {
  display: flex;
  padding: 0.5vw 0;
  border-top: 0.2vw solid var(--primary-green);
  border-bottom: 0.2vw solid var(--primary-green);
  margin: 0.15vw 0;
}

.stamp-container img {
  width: 6vw;
  height: 3vw;
  padding: 0 0.5vw;
}

/*
* KEYFRAMES
*/
@keyframes loop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
